@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Rock+Salt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* font-family: 'Roboto', sans-serif;
font-family: 'Rock Salt', cursive; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  color: rgb(0 0 0);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    /* background: url(https://pbs.twimg.com/media/CywU32jUQAAdebF.jpg:large); */
    background: linear-gradient(90deg, #bfbef2, #c2a5a3, #e3e4a788);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.underline_effect {
  background:
    linear-gradient(to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)),
    linear-gradient(to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 1000ms;
  text-decoration: none;
  color: black;
}

.underline_effect:hover {
  background-size: 0 3px, 100% 3px;
  color: rgb(5, 111, 138);
}

.cart_preview {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8px );
  border-radius: 10px;
}